workflow:
    rules:
        - if: $CI_COMMIT_TAG
        - if: $CI_COMMIT_BRANCH
        - if: $CI_MERGE_REQUEST_IID

image:
    name: debian:stable

stages:
    - test

.test:
    stage: test
    before_script:
        - apt -y update
        - apt -y install git golang
    script:
        - go test -v
        - go build examples/unstructured/ubiq_sample.go
        - go build examples/structured/ubiq_structured_sample.go

test_dev:
    extends: .test
    script:
        - go test -v -skip TestStructuredFiles
        - go build examples/unstructured/ubiq_sample.go
        - go build examples/structured/ubiq_structured_sample.go
    rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE != 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE == 'schedule'
    environment: ubs-usw2-dvc

test_prod:
    extends: .test
    rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      when: on_success
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: on_success
    - if: $CI_PIPELINE_SOURCE == 'schedule'
      when: on_success
    environment: ubs-usw2-prcv3

sast:
  stage: test

include:
  - template: Jobs/SAST.latest.gitlab-ci.yml
  - template: Jobs/Secret-Detection.gitlab-ci.yml
#   - template: Jobs/Container-Scanning.gitlab-ci.yml
  - template: Security/Dependency-Scanning.gitlab-ci.yml
